%h2 Member
=link_to 'Sign Up', new_member_registration_path
=link_to 'Login',  new_member_session_path

%h2 Provider 
=link_to 'Sign Up', new_provider_registration_path  
=link_to 'Login', new_provider_session_path  
